---
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title = "Hayvan Hakları Platformu" } = Astro.props;
---

<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
</head>

<body class="min-h-screen bg-zinc-950 text-white">
<Header />
<slot />
</body>
</html>